.navbar{
  background-color: #FFFFFF !important;

}
.nav-container{
  padding-top: 3px !important;
}

.nav-bar{
  margin-top: 5px !important;
}

.nav-icons{
  margin-top: 6px !important;
}

.nav-link{
  color: black !important;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-size: 12px;
}

.nav-link:hover{
  color: #b88e2f !important;
}

.logo{
  width: auto;
  height: 50px;
  margin-top: 6px;
}

i{
  margin-top: 16px;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
  transition: 0.3s;

}

i:hover{
  color: #b88e2f;
}

.nav-cont{
  width: 300px;
}
